@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Winston";
  src: url("../fonts/Winston-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Onset";
  src: url("../fonts/Onest-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Bold.woff") format("woff");
  font-weight: 700;
}
