.error-code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 118px 0 170px 0;

  &__heading {
    font-size: calc(150px + 170 * (100vw - 320px) / 1580);
    line-height: 100%;

    background: linear-gradient(278deg, #4a7ea0 10.67%, #1b2e3a 99.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subheading {
    font-size: calc(28px + 18 * (100vw - 320px) / 1580);
    line-height: 125%;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 50px;
    text-align: center;
  }

  &__button {
    margin-left: 0;
  }
}
