@use "helpers/color" as *;

.header {
  position: relative;
  max-width: 1920px;
  padding: 0 35px;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 30% 1fr;

  @media (max-width: 1380px) {
    grid-template-columns: 26% 1fr;
  }

  @media (max-width: 1125px) {
    grid-template-columns: 20% 1fr;
  }

  @media (max-width: 1024px) {
    padding: 0 32px;
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    padding: 0 24px;
  }

  @media (max-width: 768px) {
    padding: 0 24px;
  }

  &__logo {
    z-index: 2;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%; /* Ширина меню */
      overflow-y: auto;
      z-index: 1;
      justify-content: flex-start;
    }

    @media (orientation: landscape) {
      overflow-y: auto;
    }
  }

  &__nav-inner {
    @media (max-width: 1060px) {
      display: none;
    }
  }
}

.menu {
  @media (max-width: 1024px) {
    padding: 130px 0;
  }
}

.menu__list {
  display: flex;

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  &-item {
    list-style-type: none;
  }

  &-link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #1e1e1e;
    text-decoration: none;
    opacity: 0.6;

    @media (max-width: 1024px) {
      font-size: 90px;
      font-size: calc(40px + 50 * (100vw - 320px) / 1580);
      line-height: 150%;
      font-weight: 300;
      color: #283c4b;
      opacity: 1;
      text-align: center;
    }

    @media (max-width: 560px) {
      font-size: 40px;
      line-height: 60px;
    }
  }

  &-link:hover {
    opacity: 1;
  }

  &-item:not(:last-child) {
    margin-right: 36px;

    @media (max-width: 1280px) {
      margin-right: 24px;
    }

    @media (max-width: 1024px) {
      margin-right: 0;
    }
  }
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  right: 32px;
  top: -6px;

  @media (max-width: 768px) {
    position: static;
    display: none;
  }

  @media (orientation: landscape) {
    // top: -6px;
  }

  &__number {
    font-size: 24px;
    line-height: 36px;
    color: #1e1e1e;
    text-decoration: none;

    @media (max-width: 1280px) {
      font-size: 20px;
      line-height: 30px;
    }

    @media (max-width: 1024px) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__consultation-button {
    font-family: Onest;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #283c4b;
    border-radius: 30px;
    padding: 13px 36px;
    margin-left: 30px;
    cursor: pointer;

    @media (max-width: 768px) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

.open-menu {
  background-color: rgb(255, 255, 255);
}

.open-nav {
  height: 100vh;
}
