.project {
  margin-bottom: calc(100px + 70 * (100vw - 320px) / 1580);

  &__heading {
    margin-bottom: 80px;

    @media (max-width: 425px) {
      margin-bottom: 20px;
    }
  }
}

.slider {
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: calc(30px + 90 * (100vw - 320px) / 1580);
    // display: none;

    @media (max-width: 768px) {
      flex-direction: column;
      // position: relative;
    }
  }

  &__heading {
    font-size: calc(22px + 10 * (100vw - 320px) / 1580);
    line-height: 125%;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 24px;
  }

  &__list {
    list-style-type: none;
    margin-bottom: calc(30px + 70 * (100vw - 320px) / 1580);

    &-inner {
      display: grid;
      grid-template-columns: 22px 1fr;
      grid-template-rows: 22px 1fr;
      align-items: center;
      column-gap: 20px;
      margin-bottom: 12px;

      // outline: 1px solid tomato;

      & img {
        grid-row: 1/3;
      }

      & p {
        font-size: calc(14px + 2 * (100vw - 320px) / 1580);
      }

      & span {
        font-size: calc(18px + 6 * (100vw - 320px) / 1580);
        font-weight: 700;
      }
    }
  }

  &__description {
    font-size: calc(14px + 2 * (100vw - 320px) / 1580);
    color: #1e1e1e;
    line-height: 140%;
    max-width: 342px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.slider__col-left {
  // position: relative;
}

.slider__col-right {
  position: relative;
  margin-left: 100px;

  @media (max-width: 940px) {
    margin-left: 0;
  }

  & .slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__small {
      position: absolute;
      left: -15%;
      top: 40%;

      @media (max-width: 1280px) {
        width: 25%;
        top: 50%;
      }

      @media (max-width: 940px) {
        display: none;
      }
    }
  }
}

.slider__progress {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 768px) {
    max-width: 50%;
    // position: absolute;
  }

  &-number {
    font-size: calc(18px + 6 * (100vw - 320px) / 1580);
    color: #283c4b;

    & span {
      font-size: calc(14px + 2 * (100vw - 320px) / 1580);
      color: #b7b7b7;
    }
  }

  & .progressbar {
    width: 100%;
    height: 2px;
    background-color: #b7b7b7;

    &-line {
      display: block;
      // width: 12.5%;
      width: 45%;
      height: 2px;
      background-color: #1e1e1e;
      z-index: 10;
    }
  }
}

.slider__pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 32px;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    // gap: 70px;
  }
}

.image-container {
  position: relative;

  & img {
    width: 100%;
    height: auto;
    cursor: pointer;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #e2f0fa;
    border-radius: 50%;

    top: 0;
    left: 0;
    z-index: 10;

    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.active {
  transform: scale(1.2);

  @media (max-width: 768px) {
    transform: scale(1);
  }
}

.image-container.active-pagination::before {
  background-color: #283c4b; /* Изменяем цвет в активном состоянии */
  transform: scale(1);
}
