.burger-menu {
  position: absolute;
  top: 12px;
  right: 50%;
  cursor: pointer;

  display: none;
  z-index: 9999;

  @media (max-width: 1024px) {
    display: block;
  }

  @media (max-width: 900px) {
    display: block;
    right: 55%;
  }

  @media (max-width: 768px) {
    right: 24px;
    top: 2px;
  }

  & span {
    display: block;
    width: 53px;
    height: 2px;
    background-color: #1e1e1e;
    margin: 10px 0;

    @media (max-width: 768px) {
      width: 40px;
    }
  }
}

.open {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  z-index: 1;
}

.open-contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5vh;
  top: 80vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
